@using SportCommentary.Components
@using SportCommentary.Helpers
@using SportCommentary.Service.Interfaces
@using SportCommentaryDataAccess.DTO.Commentary
@using SportCommentaryDataAccess.DTO.SportType

@inject ISnackbar Snackbar
@inject ICommentaryService _commentaryService
@inject ISportTypeService _sportTypeService
@inject NavigationManager _navigationManager

@page "/addNewRelation"
@attribute [Authorize(Roles = "Admin")]

@{
    var title = "Rozpocznij nową relację";
}
<PageHeaderTitle Title="@title"/>


@if (sportTypes == null)
{
        <MudContainer Class="d-flex justify-center">
            <MudProgressCircular  Color="Color.Primary" Indeterminate="true"/> 
        </MudContainer>
}
else{
    <EditForm Class="mb-4" id="newCommentaryForm" Model="createCommentaryDTO" OnValidSubmit="@HandleValidSubmit">
                       <DataAnnotationsValidator />
               <MudCard>
                   <MudCardContent>
                       <MudText Typo="Typo.h6">Stwórz relację live</MudText>
                       <MudTextField Label="Nazwa relacji" @bind-Value="createCommentaryDTO.Caption" For="@(() => createCommentaryDTO.Caption)"/>
                       <MudTextField Lines="4" Label="Opis relacji" @bind-Value="createCommentaryDTO.Description" For="@(() => createCommentaryDTO.Description)"/>
                        <InputFile id="fileInputAddImage" OnChange="UploadImageToCommentary" hidden/>
                          <MudButton HtmlTag="label"
                            Class="mt-3 mb-3"
                            Variant="Variant.Filled"
                            Color="Color.Secondary"
                            StartIcon="@Icons.Filled.Image"
                            for="fileInputAddImage">
                            Dodaj obrazek relacji
                         </MudButton>
                       <div class="d-flex justify-center">
                            <MudImage ObjectFit=ObjectFit.Cover Src="@uploadedImage" Alt="commentaryImage"  Elevation="25" Class="rounded-lg imgFit"/>
                       </div>
                       <MudSelect  Clearable="true" @bind-Value="selectedSportID" T="Int32" Label="Sport" AnchorOrigin="Origin.BottomCenter">
                @foreach (var sport in sportTypes)
                {
                                   <MudSelectItem Value="sport.SportTypeID">@sport.Name</MudSelectItem>
                }
                       </MudSelect>
                   </MudCardContent>
                   <MudCardActions>
                       <MudFab Class="mr-4" ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.LiveTv" Variant="Variant.Filled" Color="Color.Primary" Label="Utwórz relację"/>
                   </MudCardActions>
               </MudCard>
  </EditForm>
}

  

@code {
    private CreateCommentaryDTO createCommentaryDTO = new();
    private List<SportTypeDTO>? sportTypes;
    private int selectedSportID = 0;

    protected override async Task OnInitializedAsync()
    {
        await GetSportTypes();
    }

    private async Task GetSportTypes()
    {
        var getAllResponse = await _sportTypeService.GetAllSportTypesAsync();
        if (getAllResponse.Success)
        {
            sportTypes = getAllResponse.Data;
            return;
        }
        HandleBadResult(getAllResponse.Message);
    }

    private void HandleBadResult(string errMsg)
    {
        Snackbar.Add(errMsg, Severity.Error);
    }

    string uploadedImage = "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=";
    private async Task UploadImageToCommentary(InputFileChangeEventArgs args)
    {
        uploadedImage = await ImageHelper.InputFileToBase64(args);
    }

    private async Task HandleValidSubmit()
    {
        if (uploadedImage != "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=")
        {
            createCommentaryDTO.CommentaryImage = uploadedImage;
        }
        createCommentaryDTO.SportTypeID = selectedSportID == 0 ? -1 : selectedSportID;
        if (createCommentaryDTO.SportTypeID == -1)
        {
            Snackbar.Add("Wybierz sport!", Severity.Error);
            return;
        }
        var submitRes = await _commentaryService.AddCommentaryAsync(createCommentaryDTO);
        if (submitRes.Success)
        {
            Snackbar.Add("Relacja została rozpoczęta!", Severity.Success);
            _navigationManager.NavigateTo($"/commentary/{submitRes.Data.CommentaryID}");
            return;
        }
        HandleBadResult(submitRes.Message);
    }
}
