@page
@model SportCommentary.Areas.Identity.Pages.Account.ManageUsersModel
@{
}

<h1>Zarządzaj Użytkownikami</h1>
<hr/>

@{
    if (ViewData["ManageMessage"] != null){
    <div class="alert alert-danger" role="alert">
                                    @ViewData["ManageMessage"]
    </div>
    }
}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nazwa użytkownika</th>
      <th scope="col">Email</th>
      <th scope="col">Rola</th>
      <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
      @{
          foreach (var user in Model.AllUsers)
            {
                                                                                @:<tr>
                                                                                       <td> @user.Username</td>
                                                                                        <td>@user.Email</td>
                                                                                        <td>@user.Role</td>
                                                                                                 @:<td>
                        if(user.Role.Contains("Admin")){
                                                                   
                                                      <button type="button" class="btn btn-warning" onclick="GiveRole('undoAdmin', '@user.Username');">Odbierz rolę Admin</button>
                                                                 
                        }
                        else{
                                                                    
                                                       <button type="button" class="btn btn-primary" onclick="GiveRole('giveAdmin', '@user.Username');">Nadaj rolę Admin</button>
                                                                  
                        }
                if (user.Role.Contains("Commentator"))
                {

                                                      <button type="button" class="btn btn-warning" onclick="GiveRole('undoCommentator', '@user.Username');">Odbierz rolę Komentator</button>

                }
                else
                {

                                                     <button type="button" class="btn btn-primary" onclick="GiveRole('giveCommentator', '@user.Username');">Nadaj rolę Komentator</button>

                }
                                                          <td/>
                                                                                  <tr/>
            }
      }
  </tbody>
  </table>

  <div class="modal" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Uwaga</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="modal-body"></p>
      </div>
      <div class="modal-footer">
      <form method="post">
        <input id="userEmailInput" type="hidden" name="user" value="" />
        <input id="roleType" type="hidden" name="role" value="" />

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary" id="btnAccept">Potwierdź</button>
      </form>
      </div>
    </div>
  </div>
</div>


 <script>
     function GiveRole(give, userName){
         let myModal = new bootstrap.Modal(document.getElementById('exampleModal'))
         let txt = "";
        switch(give) {
  case 'giveAdmin':
    txt = `Czy na pewno chcesz nadać uprawnienia administratora użytkownikowi ${userName}?`;
    break;
  case 'undoAdmin':
    txt = `Czy na pewno chcesz odebrać uprawnienia administratora użytkownikowi ${userName}?`;
    break;
     case 'giveCommentator':
    txt = `Czy na pewno chcesz nadać uprawnienia komentatora użytkownikowi ${userName}?`;
    break;
     case 'undoCommentator':
    txt = `Czy na pewno chcesz odebrać uprawnienia komentatora użytkownikowi ${userName}?`;
    break;
           
    }
         document.getElementById("modal-body").innerText = txt;
         document.getElementById("userEmailInput").value = userName;
         document.getElementById("roleType").value = give;
         myModal.show()
     }
 </script>