<MudNavMenu>
    <LoginDisplay/>
    <div>
       <MudDivider class="divider"/>
    </div>
    <MudNavLink Icon="@Icons.Filled.Home" Href="/" Match="NavLinkMatch.All">Strona główna</MudNavLink>
     <AuthorizeView Roles="Admin">
          <MudNavGroup Title="Relacje" Icon="@Icons.Filled.Comment" Expanded=true>
                <MudNavLink Icon="@Icons.Filled.Add" Href="/addNewRelation" Match="NavLinkMatch.Prefix">Rozpocznij nową relację</MudNavLink>
                <MudNavLink Icon="@Icons.Filled.LiveTv" Href="/manageCommentary/live" Match="NavLinkMatch.Prefix">Relacje live</MudNavLink>
           </MudNavGroup>
         <MudNavLink Icon="@Icons.Filled.Settings"  Href="/manageTypes" Match="NavLinkMatch.Prefix">Zarządzaj typami</MudNavLink>
     </AuthorizeView>
</MudNavMenu>